@import "reset.css";
@font-face {
  font-family: "Title";
  src: url(../assets/fonts/GeometricEvolution.ttf);
}
@font-face {
  font-family: "Norm";
  src: url(../assets/fonts/SpringSnowstorm.ttf);
}
html  {
  height: 100vh;
  font-size: 14px;
}
body {
  font-size: 1rem;
  color:#bdf1f3;
  font-family: "Norm";
  letter-spacing: 0.1rem;
  background: linear-gradient(#1e8c8f, #61e3e8);
}
#actions, #quote-list, #count {
  margin: auto;
  width: 90%;
  padding: 0.3rem;
  text-align: center;
}
h1, h2, h3 {
  font-size: 2rem;
  font-family: "Title";
  text-align: center;
  text-shadow: -0.1rem 0.1rem #094547;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  width: 50%;
  text-align: left;
  font-size: 1.2rem;
}
hr {
  margin: auto;
  width: 95%;
  height: 0.1rem;
  background: linear-gradient(#78ecf0, #094547);
}
input {
  margin: 0.3rem 0 0 0;
  padding: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color:#054749;
  border-radius: 0.5rem;
  border-color:#bdf1f3;
  background: #d0f9fb;
}
button {
  margin: 0.3rem 0 0 0;
  padding: 0.1rem 0.5rem;
  font-family: "Norm";
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color:#10450a;
  border-radius: 0.5rem;
  border-color: #d0e5cd;
  background: linear-gradient(#a1e399, #31d71e);
  box-shadow: -0.1rem 0.1rem 0.5rem #017276;
  cursor: pointer;
}
#error {
  font-weight: bold;
  font-style: italic;
  color:#dc99ec;
  text-shadow: -0.1rem 0.1rem #094547;
}
#quote-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quote {
  width: 46%;
  margin: 0.3rem;
  padding: 0.1rem 0.3rem;
  color:#424719;
  border-radius: 0.5rem;
  background: linear-gradient(#d7e850, #f3f6dd);
  box-shadow: -0.1rem 0.1rem 0.1rem #017276;
}
.text, .author {
  width: 100%;
}
.author {
  font-weight: bold;
  text-align: right;
}

@media (min-width: 600px) {
  html {
		font-size: 16px;
	}
}

@media (min-width: 740px) {
  html {
		font-size: 18px;
	}
}
@media (min-width: 1024px) {
  html {
		font-size: 20px;
	}
}
@media (min-width: 1280px) {
  html {
		font-size: 22px;
	}
}